{
  "semi": true,
  "tabWidth": 2,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "singleAttributePerLine": false,
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
  
}
