{
  "semi": true,
  "tabWidth": 2,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "singleAttributePerLine": false,
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^react/(.*)$",
    "^react-router-dom$",
    "^react-router-dom/(.*)$",
    "^@tanstack/react-query$",
    "^@tanstack/react-query/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/shared/(.*)$",
    "^@/entities/(.*)$",
    "^@/features/(.*)$",
    "^@/widgets/(.*)$",
    "^@/pages/(.*)$",
    "^@/app/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
